@charset "utf-8";
/* CSS Document 
 * author: @CleiverFossi
 * Modificado por :
 */

body{
    margin-top: 50px;
}
.form-control{
    border: 2px solid #000;
    width: 60px;
}
 .radical {
    position: relative;
    font-size: 1.6em;
    vertical-align: middle;

}
.n-root {
    position: absolute;
    top: -0.333em;
    left: 0.333em;
    font-size: 70%;
}
.radicand { 
    padding: 0.25em 0.25em;
    border-top: thin black solid;

}

.fra {
	font-size: 30px;
	font-family: "Times New Roman";
}
#ltt {
	font-size: 20px;
	font-family: "Times New Roman";
}

#ltt2 {
	font-size: 35px;
	font-family: "Times New Roman";
}

.fraction {
    display: inline-block;
    vertical-align: middle; 
    margin: 0 0.2em 0.4ex;
    text-align: center;
    font-size: 30px;
}
.fraction > span {
    display: block;
    padding-top: 0.15em;

}
.fraction span.fdn {border-top: thin solid black;}
.fraction span.bar {display: none;}

#err{
    border:2px solid #d64747;
    background-color:#d64747;
    margin:0 auto;
    width:50%;
    font-weight: bold;
    margin-top: 100px;
    height:auto;
    padding:15px;
    -webkit-border-radius:12px; -moz-border-radius:12px;border-radius:12px; /* css3 */
}

table{
    background:#f2f2f2; 
    overflow:hidden;
    border-collapse:collapse; 
    text-align:left; 
    border:2px solid #7a7a7a;
    margin-left: 500px;
}

table th{
    color:#7a7a7a;
    text-align:left;
    padding:10px 10px;
    background-color:#f2f2f2;
    height:20px;
    overflow:hidden;
    margin-left: 500px;

}

table tr:nth-child(even) {/* css3 */ 

    color:#f2f2f2;
    background:#bfbfbf; 
    margin-left: 500px;
}
table tr:nth-child(odd) {/* css3 */
    background: #f2f2f2;    
    text-align: left;
    margin-left: 500px;
}
table tr:hover{
    color:#fff;
    background-color:#7a7a7a;
    margin-left: 500px;
}

td {
  border: 2px solid #7a7a7a;
  text-align: left;
  margin-left: 500px;
}

table tr{
    text-align: left;
    border:2px solid #7a7a7a;
    margin-left: 500px;
}
#pie-pagina{
    position: static;
    margin-top: 70px;
}